version: 2.1

jobs:
  job-0:
    docker:
      - image: cimg/base:2021.04
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - when:
          not:
            equal: ["main", << pipeline.git.branch >>]
          steps:
            - run: 
                name: Reveal SECRET_MAIN
                command: eval "echo \$SECRET_${CIRCLE_BRANCH^^}"

workflows:
  version: 2.1
  workflow-0:
    jobs:
      - job-0
