version: 2.1

jobs:
  job-0:
    # parameters:
    #   branch:
    #     type: string
    #     default: main
    docker:
      - image: cimg/base:2021.04
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - when:
          condition:
            equal: ["main", << pipeline.git.branch >>]
          steps:
            - run: 
                name: Say hello
                command: echo Hello

workflows:
  version: 2.1
  workflow-0:
    jobs:
      - job-0
