version: 2.1

jobs:
  job-0:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run: 
          name: Create file
          command: echo hello > /tmp/hello
      - persist_to_workspace
          root: /tmp
          paths:
            - hello
  job-1:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout
      - run: 
          name: Browse files in tmp
          command: ls -l /tmp

workflows:
  version: 2.1
  workflow-0:
    jobs:
      - job-0
      - job-1
