version: 2.1

jobs:
  job-0:
    docker:
      - image: cimg/base:2021.04
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - run: 
          name: Create directory for persistence
          command: workspace
      - run: 
          name: Create file
          command: echo hello > workspace/hello
      - persist_to_workspace:
          root: .
          paths:
            - workspace
  job-1:
    docker:
      - image: cimg/base:2021.04
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_PASSWORD
    steps:
      - checkout
      - attach_workspace:
          at: workspace
      - run: 
          name: List files
          command: ls -l
      - run: 
          name: Browse file
          command: cat workspace/hello

workflows:
  version: 2.1
  workflow-0:
    jobs:
      - job-0
      - job-1:
          requires:
            - job-0
